<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Backbone</string>
	<key>ordering</key>
	<array>
		<string>4514D797-AC75-4515-A9D6-EECCEB0E3278</string>
		<string>EC3DD3F4-7588-483F-84C0-660E044946DD</string>
		<string>D101A204-6EB9-4FD2-8264-CD105FB342C7</string>
		<string>F450B649-1EAD-460D-95EA-2CCA4EBD911B</string>
		<string>69B821B8-C39C-4F54-AC9F-696FF39ABC9F</string>
	</array>
	<key>uuid</key>
	<string>80210406-4824-4A1B-A373-18782A770B75</string>
</dict>
</plist>
